section.about {
  padding: 1rem;
  background-color: #eaf2fd;
}

section.about div.about-container p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

section.about div.about-container img {
  margin: 16px;
}
